body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
.heading {
  text-align: center;
}
.cc {
  display: flex;
  justify-content: center;
}

.me {
  margin-top: 20px;
  font-size: smaller;
  opacity: 0.7;
  text-align: center;
}

.player1,
.player2 {
  font-weight: bolder;
}

#btn {
  height: 30px;
  width: 120px;
  cursor: pointer;
  border-radius: 30px;
}

.container {
  text-align: center;
  margin-top: 50px;
}
.dice {
  width: 100px;
  height: 100px;
  margin: 10px;
}
#winner {
  font-size: 24px;
  font-weight: bold;
  color: green;
  margin-top: 20px;
}
#scores {
  margin-top: 20px;
}
